---
import { Icon } from "astro-icon/components";
import Author from "../../components/author.astro";
import BackButton from "../../components/back-button.astro";
import TocButton from "../../components/toc-button.astro";
import Document from "../../layouts/document.astro";
import Post from "../../layouts/post.astro";
import { getBlogs } from "../../utils/blog";

export async function getStaticPaths() {
  const blogEntries = await getBlogs();
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, headings } = await entry.render();
---

<Document title={entry.data.title}>
  <div class="mb-8">
    <BackButton />
  </div>
  <div
    class="fixed z-10 inline-flex rounded-full shadow-xl bg-background/50 backdrop-blur-md h-14 bottom-10 right-5 sm:bottom-20 sm:right-10 lg:right-[20%] border border-border"
  >
    <TocButton title={entry.data.title} headings={headings} />
  </div>
  <Post title={entry.data.title} publishDate={entry.data.publishDate}>
    {
      entry.data.draft && (
        <div class="mb-8 flex items-center gap-2 border border-border rounded-md p-4 text-foreground bg-background font-semibold">
          <Icon name="lucide:alert-circle" class="w-4 h-4" />
          <small>この記事は下書きです。本番環境では表示されません。</small>
        </div>
      )
    }
    <Content />
  </Post>
  <div class="mt-16">
    <Author />
  </div>
</Document>
