---
import type { CollectionKey } from "astro:content";
import type { Page } from "astro";
import { Icon } from "astro-icon/components";
import { cn } from "../../../shared/lib/cn";
import Link from "../../../shared/ui/link/index.astro";

type Props = {
  page: Page;
  collectionKey: CollectionKey;
};

const { page, collectionKey } = Astro.props as Props;

const INITIAL_PAGE_NUMBER = 1;

/** 現在参照しているページを含む閲覧件数 */
const browsed = Math.min(page.currentPage * page.size, page.total);
const initialPageUrl = `/${collectionKey}`;
const lastPageUrl = `/${collectionKey}/${page.lastPage}`;
const isInitialPage = page.currentPage === INITIAL_PAGE_NUMBER;
const isLastPage = page.currentPage === page.lastPage;
---

<div
  class="relative flex items-center justify-between rounded-full border border-border bg-background pl-4 pr-2 py-2 sm:py-1 text-muted-foreground"
>
  <button
    type="button"
    class="group/button peer grid grid-flow-col items-center gap-1 hover:opacity-80 cursor-pointer"
    id="page-selector"
    aria-expanded="false"
    aria-haspopup="true"
    aria-label="ページを選択して移動する"
  >
    <p class="text-sm sm:text-base text-foreground">
      {browsed}
      <span class="text-muted-foreground text-xs">/</span>
      {page.total} 件
    </p>
    <Icon
      size={16}
      name="lucide:chevron-down"
      aria-hidden="true"
      class="text-muted-foreground group-aria-expanded/button:-rotate-180"
    />
  </button>

  <ul
    aria-orientation="vertical"
    aria-labelledby="page-selector"
    role="menu"
    class="text-foreground absolute right-0 top-7 z-10 mt-2 max-h-0 min-w-max origin-top-right overflow-hidden bg-background rounded-xl opacity-0 shadow-lg ring-1 ring-border ring-opacity-5 focus:outline-none peer-aria-expanded:max-h-96 peer-aria-expanded:opacity-100 motion-safe:transition-all motion-safe:duration-500 motion-safe:ease-in-out"
    id="page-dropdown-selector"
    aria-hidden="true"
    tabindex="-1"
  >
    <li tabindex="-1" role="menuitem" id="initial-page">
      <Link
        to={initialPageUrl}
        className={cn(
          "block px-4 py-3 text-base",
          isInitialPage
            ? "cursor-not-allowed text-border"
            : "hover:bg-muted focus:outline-4"
        )}
      >
        最初のページへ移動する
      </Link>
    </li>
    <div class="border-b border-muted"></div>
    <li tabindex="-1" role="menuitem" id="last-page">
      <Link
        to={lastPageUrl}
        className={cn(
          "block px-4 py-3 text-base",
          isLastPage
            ? "cursor-not-allowed text-border"
            : "hover:bg-muted focus:outline-4"
        )}
      >
        最後のページへ移動する
      </Link>
    </li>
  </ul>
</div>

<script>
  /**
   * Initializes the menu functionality for a dropdown menu.
   * This function sets up event listeners for the dropdown button and menu items,
   * allowing the user to open and navigate the dropdown menu using the keyboard.
   * The function also handles closing the menu when the user clicks outside of it.
   */
  function menuInitilization() {
    const button = document.getElementById(
      "page-selector"
    ) as HTMLButtonElement;
    const dropdown = document.getElementById(
      "page-dropdown-selector"
    ) as HTMLUListElement;
    const dropdownItems = dropdown?.querySelectorAll(
      "li"
    ) as NodeListOf<HTMLLIElement>;
    button?.addEventListener("click", (event) => {
      event.stopPropagation();
      if (button.getAttribute("aria-expanded") === "true") {
        closeMenu();
        return;
      }
      button.setAttribute("aria-expanded", "true");
      if (dropdown) {
        dropdown.setAttribute("aria-hidden", "false");

        /**
         * Handles keyboard navigation and interactions for a dropdown menu.
         *
         * When the dropdown is focused, the following keyboard interactions are supported:
         * - Arrow Up/Down: Moves the focus to the previous/next item in the dropdown
         * - Escape: Closes the dropdown
         * - Enter: Clicks the currently focused dropdown item
         * - Tab: Moves focus back to the button
         */
        if (dropdownItems) {
          document.documentElement.addEventListener("click", closeMenu);
          setTimeout(() => {
            dropdownItems[0].focus();
          }, 200); // to prevent the focus setting from causing a stutter in the animation
          let tabFocus = 0;

          dropdown.addEventListener("keydown", (keyboardEvent) => {
            const e = keyboardEvent as KeyboardEvent;

            if (e.key === "ArrowUp" || e.key === "ArrowDown") {
              e.preventDefault();
              dropdownItems[tabFocus].setAttribute("tabindex", "-1");
              if (e.key === "ArrowDown") {
                tabFocus++;
                // If we're at the end, go to the start
                if (tabFocus >= dropdownItems.length) {
                  tabFocus = 0;
                }
                // Move left
              } else if (e.key === "ArrowUp") {
                tabFocus--;
                // If we're at the start, move to the end
                if (tabFocus < 0) {
                  tabFocus = dropdownItems.length - 1;
                }
              }
              tabFocus = tabFocus % dropdownItems.length;
              dropdownItems[tabFocus].focus();
            } else if (e.key === "Escape") {
              closeMenu();
              return;
            } else if (e.key === "Enter") {
              (dropdownItems[tabFocus].children[0] as HTMLElement)?.click();
              closeMenu();
              return;
            } else if (e.key === "ArrowLeft" || e.key === "ArrowRight") {
              e.preventDefault();

              if (e.key === "ArrowRight") {
                tabFocus = dropdownItems.length - 1;
              } else if (e.key === "ArrowLeft") {
                tabFocus = 0;
              }
              tabFocus = tabFocus % dropdownItems.length;
              dropdownItems[tabFocus].focus();
            } else if (e.key === "Tab" || e.key === "Shift+Tab") {
              e.preventDefault();
              button.focus();
            }
          });
        }
      }
    });
  }
  function closeMenu() {
    const button = document.getElementById("page-selector");
    const dropdown = document.getElementById("page-dropdown-selector");

    button?.setAttribute("aria-expanded", "false");
    dropdown?.setAttribute("aria-hidden", "true");
    button?.focus();
    document.documentElement.removeEventListener("click", closeMenu);
  }
  document.addEventListener("astro:page-load", menuInitilization);
</script>
