---
import type { MarkdownHeading } from "astro";
import { Icon } from "astro-icon/components";
import Link from "./link.astro";

type Props = {
  title: string;
  headings: Array<MarkdownHeading>;
};

const href = Astro.url.pathname;
const { title, headings } = Astro.props as Props;
---

<div class="aspect-square h-full relative text-muted-foreground">
  <button
    class="group/button peer grid h-full w-full place-items-center rounded-full hover:opacity/80"
    id="toc"
    aria-expanded="false"
    aria-haspopup="true"
    aria-label="目次を見る"
  >
    <Icon aria-hidden="true" name="lucide:list" size={24} />
  </button>

  <ul
    aria-orientation="vertical"
    aria-labelledby="toc"
    role="menu"
    class="break-all text-foreground absolute -right-2 bottom-full z-10 mb-2 max-h-0 w-max max-w-xs sm:max-w-sm origin-top-right overflow-hidden bg-background rounded-xl opacity-0 shadow-lg backdrop-blur-3xl ring-1 ring-border ring-opacity-5 focus:outline-none peer-aria-expanded:max-h-screen peer-aria-expanded:opacity-100 motion-safe:transition-all motion-safe:animate-slide-top"
    id="toc-menu"
    aria-hidden="true"
    tabindex="-1"
  >
    <li
      tabindex="-1"
      role="menuitem"
      class:list={[
        "px-4 py-3 text-sm  hover:bg-muted/20 focus:outline-4 border-border border-b",
      ]}
    >
      <Link to={href}>{title}</Link>
    </li>
    {
      headings.map((heading) => (
        <li
          tabindex="-1"
          role="menuitem"
          class:list={[
            "grid grid-cols-[16px_1fr] items-center gap-x-2 px-4 py-3 text-sm  hover:bg-muted/20 focus:outline-4",
            heading.depth === 2 && "pl-4 text-muted-foreground",
            heading.depth === 3 && "pl-8 text-muted-foreground/60",
            heading.depth === 4 && "pl-12 text-muted-foreground/40",
          ]}
        >
          <Icon name="lucide:chevron-right" size={16} />
          <Link to={`${href}#${heading.slug}`}>{heading.text}</Link>
        </li>
      ))
    }
  </ul>
</div>

<script>
  /**
   * Initializes the menu functionality for a dropdown menu.
   * This function sets up event listeners for the dropdown button and menu items,
   * allowing the user to open and navigate the dropdown menu using the keyboard.
   * The function also handles closing the menu when the user clicks outside of it.
   */
  function menuInitilization() {
    const button = document.getElementById("toc") as HTMLButtonElement;
    const dropdown = document.getElementById("toc-menu") as HTMLUListElement;
    const dropdownItems = dropdown?.querySelectorAll(
      "li"
    ) as NodeListOf<HTMLLIElement>;
    button?.addEventListener("click", (event) => {
      event.stopPropagation();
      if (button.getAttribute("aria-expanded") === "true") {
        closeMenu();
        return;
      }
      button.setAttribute("aria-expanded", "true");
      if (dropdown) {
        dropdown.setAttribute("aria-hidden", "false");

        /**
         * Handles keyboard navigation and interactions for a dropdown menu.
         *
         * When the dropdown is focused, the following keyboard interactions are supported:
         * - Arrow Up/Down: Moves the focus to the previous/next item in the dropdown
         * - Escape: Closes the dropdown
         * - Enter: Clicks the currently focused dropdown item
         * - Tab: Moves focus back to the button
         */
        if (dropdownItems) {
          document.documentElement.addEventListener("click", closeMenu);
          setTimeout(() => {
            dropdownItems[0].focus();
          }, 200); // to prevent the focus setting from causing a stutter in the animation
          let tabFocus = 0;

          dropdown.addEventListener("keydown", (keyboardEvent) => {
            const e = keyboardEvent as KeyboardEvent;

            if (e.key === "ArrowUp" || e.key === "ArrowDown") {
              e.preventDefault();
              dropdownItems[tabFocus].setAttribute("tabindex", "-1");
              if (e.key === "ArrowDown") {
                tabFocus++;
                // If we're at the end, go to the start
                if (tabFocus >= dropdownItems.length) {
                  tabFocus = 0;
                }
                // Move left
              } else if (e.key === "ArrowUp") {
                tabFocus--;
                // If we're at the start, move to the end
                if (tabFocus < 0) {
                  tabFocus = dropdownItems.length - 1;
                }
              }
              tabFocus = tabFocus % dropdownItems.length;
              dropdownItems[tabFocus].focus();
            } else if (e.key === "Escape") {
              closeMenu();
              return;
            } else if (e.key === "Enter") {
              (dropdownItems[tabFocus].children[0] as HTMLElement)?.click();
              closeMenu();
              return;
            } else if (e.key === "ArrowLeft" || e.key === "ArrowRight") {
              e.preventDefault();

              if (e.key === "ArrowRight") {
                tabFocus = dropdownItems.length - 1;
              } else if (e.key === "ArrowLeft") {
                tabFocus = 0;
              }
              tabFocus = tabFocus % dropdownItems.length;
              dropdownItems[tabFocus].focus();
            } else if (e.key === "Tab" || e.key === "Shift+Tab") {
              e.preventDefault();
              button.focus();
            }
          });
        }
      }
    });
  }
  function closeMenu() {
    const button = document.getElementById("toc");
    const dropdown = document.getElementById("toc-menu");

    button?.setAttribute("aria-expanded", "false");
    dropdown?.setAttribute("aria-hidden", "true");
    button?.focus();
    document.documentElement.removeEventListener("click", closeMenu);
  }
  document.addEventListener("astro:page-load", menuInitilization);
</script>
