---
import Time from "../components/time.astro";
import "../stylesheet/markdown.css";
import styles from "./post.module.css";

interface Props {
  title: string;
  publishDate: Date;
}

const { title, publishDate } = Astro.props;
---

<div class={styles.container}>
  <div class:list={styles.post}>
    <hgroup class={styles.hgroup}>
      <h2
        class:list={["text-2xl sm:text-3xl font-bold break-all", styles.title]}
        data-pagefind-meta="title"
      >
        {title}
      </h2>
      <div class:list={styles.time}>
        <Time date={publishDate} />
      </div>
    </hgroup>
    <article class={"break-all prose"} data-pagefind-body>
      <slot />
    </article>
  </div>
</div>
